In [28]:
from bs4 import BeautifulSoup as bf
import requests

In [29]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime as dt

In [30]:
df = pd.read_csv('destinations_LP_crawler_Ex5.csv',encoding='ISO-8859-1')

In [31]:
api = 'AIzaSyB348qyWzGUoY7UeLcFYb1zd2ZXRRedQ1I'
countries = []
for index, row in df.iterrows():
    city = row['city']
    try:
        url = "https://maps.googleapis.com/maps/api/geocode/json?address=%s&key=%s" % (city, api)
        response= requests.get(url)
        json_response = response.json()
        length = len(json_response["results"][0]["address_components"])-1
        country=json_response["results"][0]["address_components"][length]["long_name"]
        countries.append (country)
    except:
        countries.append("Error")

In [32]:
df.insert (1,"country", countries, True)

In [33]:
descriptions = []
for index, row in df.iterrows():   
    city_LP = row ["city_LP"]
    country = row ["country"]
    url_Description="https://www.lonelyplanet.com/"
    try:
        html=requests.get(url_Description+country+"/"+city_LP)
        soup=bf(html.content,"html.parser")
        i=soup.find("div",class_="readMore_content___5EuR relative overflow-hidden max-h-96 is-max wysiwyg")
        description = i.get_text()
        descriptions.append (description)
    except:
        descriptions.append ("Error")

In [34]:
df.insert (2,"desc", descriptions, True)

In [35]:
df.drop('city_LP', inplace=True, axis=1)

In [36]:
df

         city      country                                               desc
0     Antalya       Turkey  Once seen simply as the gateway to the Turkish...
1      Athens       Greece  With equal measures of grunge and grace, Athen...
2   Ayia-napa       Cyprus  Endless blue-sky days and a coastline riddled ...
3     Bangkok     Thailand  Same same, but different. This Thailish T-shir...
4   Barcelona        Spain  Barcelona is an enchanting seaside city with b...
..        ...          ...                                                ...
71     Venice        Italy  Imagine the audacity of building a city of mar...
72     Vienna      Austria  Baroque streetscapes and imperial palaces set ...
73     Warsaw           03                                              Error
74  Zakynthos       Greece  Zakynthos, also known by its Italian name Zant...
75     Zurich  Switzerland  Culturally vibrant, efficiently run and attrac...

[76 rows x 3 columns]

In [27]:
file_name="LP_destinations.csv"
df.to_csv(file_name,index=False,header=True)